.nav {
    padding: 10px;
    background-color:#1A365D;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.errorMessage {
    padding-left: 10px;
    font-size: 15px;
    color:red;
  }